*{
    padding: 0;
    margin: 0;
}

.contenidoPrincipalIndex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
                        "titulo titulo"
                        "header header"
                        "main main"
                        "footer footer";   
}

.contenidoMain{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}


.contenidoPrincipalActividades{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
                        "titulo"
                        "header"
                        "main"
                        "footer";   
}

.contenidoPrincipalHorarios{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
                        "titulo"
                        "header"
                        "main"
                        "footer";   
}

.contenidoPrincipalGaleria{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
                        "titulo titulo titulo"
                        "header header header"
                        "main main main"
                        "footer footer footer"  
}

h1{
    grid-area: titulo;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.842);
    background-image: linear-gradient(to top, rgba(21, 60, 139, 0.623),rgba(0, 140, 255, 0.726));
    color: rgb(255, 255, 255);

}

header{
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.842);
}

.logo{
    margin-right: 15vw;
}

.menuHeader ul{
    display: flex;
    flex-direction: row;  
    justify-content:space-evenly;
    align-items: center;
}

.menuHeader ul li{
    list-style: none;
    margin: 0 20px;
}

.menuHeader ul li a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: rgb(250, 245, 245)
}

.menuHeader ul li a:hover{
    color: rgba(129, 161, 180, 0.712);
}


main{
    grid-area: main; 
  
}

.horariosMain{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: stretch;
    background-color: rgba(0, 0, 0, 0.842);

}

.imagenesGalerias{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: stretch;
    background-color: rgba(0, 0, 0, 0.842);
}


.imagenesMain img{
    width: 35%;
}

.imagenesGalerias img{
    width: 20%;
}

.contenidoMain video{
    width: 100%;

}

.titulosMain{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 20px 0px 20px 0px;
    background-color: rgba(129, 161, 180, 0.712);
    animation-duration: 6s;
    animation-name: aparecer;
    animation-delay: 5seg;
    filter: grayscale(1);


}

.titulosMain:hover{
    transform: (1.5,1.2);
    filter: grayscale(0)

}

footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    background-color: rgba(129, 161, 180, 0.712);
    justify-content: center;
    align-items: center;
}

footer div a{
    align-items: center;
    color: rgb(0, 0, 0);  
}

footer div h2{
    margin-left: 80vw;    
    font-size: 18px;
}

li img{
    
    height: 35px;
    margin-top: 10px;
    padding: 10px 10px 0px 10px;
}


.listaFooter{
    display: flex;
    text-decoration: none;
    list-style: none;

}


.btn {
    color: rgb(96, 190, 228);

}




@keyframes aparecer{
    0%{
        opacity: 0;
    }
    50%{
        visibility: visible;
    }
    100%{
        visibility:visible
    }


}

.parrafosMain{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    padding-bottom: 30px;
    background-color: rgba(129, 161, 180, 0.712);
    animation-duration: 6s;
    animation-name: aparecer;
    animation-delay: 5seg;
}


@media screen and (max-width: 768px) {
    
    .contenidoPrincipal{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
                            "titulo"
                            "header"
                            "main"
                            "footer";
    }
    .contenidoPrincipalActividades{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
                            "titulo"
                            "header"
                            "main"
                            "footer";   
    }
    .menuHeader ul{
        display: flex;
        flex-direction: column;  
        justify-content:center;
        align-items: center;
    }
   
    .logo{
        margin-right: 1pw;
    }


    footer div h2{
        margin-left: 80vw;    
        font-size: 12px;
    }
}


@media screen and (max-width: 320px) {
    
    .contenidoPrincipal{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
                            "titulo"
                            "header"
                            "main"
                            "footer";
    }

    .contenidoPrincipalActividades{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
                            "titulo"
                            "header"
                            "main"
                            "footer";  
    }

    .menuHeader ul{
        display: flex;
        flex-direction: column;  
        justify-content:center;
        align-items: center;
    }

    .logo{
        margin-right: 30pw;
    
    }

    .imagenesMain{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.842);
    }

    footer div h2{
        margin-left: 80vw;    
        font-size: 6px;
    }
}